
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.container {
  padding: 20px;
}

.form-field-full-width {
  width: 100%;
}

.sectors-form {
  padding: 20px;
}

.name-login-container {
  display: flex;
  /*align-items: center;*/
  gap: 16px;
  margin-bottom: 20px;
}

  .name-login-container mat-form-field {
    flex-grow: 1;
  }

.sectors-content {
  margin-top: 20px;
}

.tree {
  margin-top: 15px;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.no-selection-warning {
  color: #f44336;
  margin-top: 4px;
  font-size: 14px;
  text-align: start;
  margin-left: 10px;
}

.config-options {
  text-align: start;
}

.button-with-spinner {
  display: flex;
  align-items: center;
  gap: 8px;
}


